# Distribution package, built with Grunt
dist

# Sass and generated css
.sass-cache
*.css
*.css.map

# Linting
validation-status.json

# Test coverage reports
coverage

# Dependencies
bower_components
node_modules
